.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(-30deg,
      hsl(357deg 91% 59%) 0%,
      hsl(17deg 100% 59%) 40%,
      hsl(34deg 100% 53%) 70%,
      hsl(45deg 100% 50%) 80%,
      hsl(55deg 100% 50%) 90%,
      hsl(55deg 100% 50%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button2 {
  padding: 0.65rem 1.6rem 0.75rem 1.6rem;
  color: white;
  background-color: transparent;
  background: transparent;
  border: 2px solid #4f02ff;
  font-weight: 600;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  border-radius: 20px;
  cursor: pointer;
  vertical-align: middle;
}

.button2:hover {
  border: 2px solid #601bff;
  background: linear-gradient(0deg,
      #601bff 0%,
      #4989ff 100%);
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045)
}

.spacer {
  height: 40px
}

.spacerSmall {
  height: 20px
}

.spacerSmaller {
  height: 10px
}

.table>thead {
  font-weight: 700;
}

.table>p {
  text-align: left;
}

.tableColumnOne {
  padding-right: 2em;
}

.tinyText {
  font-size: 11px;
  color: #ffffff88;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.twitterLogo {
  float: right;
  fill: #1DA1F2;
  margin-left: 0px;
  padding-top: 2px;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}